<section>
    <div class="bg" style="background-image: url('assets/about.jpg');">
        <div class="mx-auto">
            <br><br><br><br><br><br>
            <h1 class="mt-5 col-md-9 mx-auto caption2">
                We are <a [routerLink]="['/contact']">developing</a> the future
            </h1><br>
            <h2 class="mb-5 col-md-9 mx-auto caption2">build the solution with technology and blessings</h2>
            <div class="d-flex justify-content-center"><br>
                <a (click)="scrollTo($event)">
                    <div class="mb-5 btn btn-outline-primary caption1">About Us</div>
                </a>
            </div><br><br><br>
        </div>
    </div>
</section>
<br>
<section id="about" class="about">
    <div class="container text-center my-4">
        <h2>About Us</h2><br>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <img src="assets/responsive.gif" alt="">
                <h3>Responsive</h3>
                <p>
                    Tata letak akan menyesuaikan dengan perangkat apapun, besar atau kecil.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <img src="assets/speedometer.gif" alt="">
                <h3>Fast</h3>
                <p>
                    Waktu loading cepat dengan interaksi bebas lag, adalah prioritas utama saya.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <img src="assets/ux.gif" alt="">
                <h3>Intuitive</h3>
                <p>
                    Tampilan yang indah dan mudah digunakan, UX / UI intuitif.</p>
            </div>
            <div class="col-md-3 col-sm-6 col-6 text-center">
                <img src="assets/dinamic.gif" alt="">
                <h3>Dynamic</h3>
                <p>
                    Situs web tidak harus statis, saya suka membuat halaman menjadi hidup.</p>
            </div>
        </div>
        <h2 class="mt-5">Meet Our Team</h2><br>
        <div class="row">
            <div class="col-md-6 my-3">
                <svg viewBox="0 0 100 100">
                    <defs>
                        <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image href="assets/frendi.jpg" x="-25" width="150" height="100" />
                        </pattern>
                    </defs>
                    <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)" />
                </svg>
                <br>
                <i>"Create UI, Animation, and Create a look that is simple and easy to understand but still beautiful."</i>
                <h4 class="mt-3">Frendi Triarista</h4>
                <p>
                    Website Developer untuk PT Snapinn Global Asia yang berlokasi di Tangerang Selatan - Indonesia.
                    <br>
                </p>
            </div>
            <div class="col-md-6 my-3">
                <svg viewBox="0 0 100 100">
                    <defs>
                        <pattern id="img1" patternUnits="userSpaceOnUse" width="100" height="100">
                            <image xlink:href="assets/octopus.png" x="-25" width="150" height="100" />
                        </pattern>
                    </defs>
                    <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img1)" />
                </svg>
                <br>
                <i>“Talk is cheap. Show me the code.”</i>
                <h4 class="mt-3">Abdul Qhodir Jaelani</h4>
                <p>
                    Desktop Developer untuk PT xxxx yang berlokasi di xxxx - Indonesia.
                    <br>
                </p>
            </div>
            <div class="col-md-6 my-3">
                <svg viewBox="0 0 100 100">
                    <defs>
                        <pattern id="img2" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="assets/andri.jpg" x="-25" width="150" height="100" />
                        </pattern>
                    </defs>
                    <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img2)" />
                </svg>
                <br>
                <i>“The most disastrous thing that you can ever learn is your first programming language.” </i>
                <h4 class="mt-3">Andri Setiawan</h4>
                <p>
                    Android Developer untuk PT STIA (Sistem Terintegrasi Inti Anugerah) Software yang berlokasi di Jakarta Utara - Indonesia.
                    <br>
                </p>
            </div>
            <div class="col-md-6 my-3">
                <svg viewBox="0 0 100 100">
                    <defs>
                        <pattern id="img3" patternUnits="userSpaceOnUse" width="100" height="100">
                        <image xlink:href="assets/octopus.png" x="-25" width="150" height="100" />
                        </pattern>
                    </defs>
                    <polygon points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img3)" />
                </svg>
                <br>
                <i>“Any fool can write code that a computer can understand. Good programmers write code that humans can understand.”</i>
                <h4 class="mt-3">Rahma Julianti Romli</h4>
                <p>
                    Quality Asurance freelancher yang berdomisili di Tangerang Selatan - Indonesia.
                    <br>
                </p>
            </div>
        </div>
        <h2 class="mt-5">Our skills</h2><br>
        <div class="row">
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/php.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/html5.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/css3.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/js.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/ci.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/laravel.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/angular.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/reactnative.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/java.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/eclipse.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/ui-ux.png" alt="">
            </div>
            <div class="col-md-3 my-3">
                <img class="skil" src="../assets/photoshop.png" alt="">
            </div>
        </div>
    </div>

</section>