<div style="background-color: #fbfbfb; width: 100%;">

    <div class="bg d-flex justify-content-end" style="background-image: url('assets/contact.jpg');">
        <div class="caption mx-2 col-md-5 col-sm-12 my-5">
            <h1 class="mt-5 mb-4 mx-auto">CONTACT US</h1>
            <form action="" class="mb-3">
                <input class="form-control mb-4" type="text" placeholder="Name" required>
                <input class="form-control mb-4" type="email" placeholder="E-mail" required>
                <input class="form-control mb-4" type="text" placeholder="Handphone" required>
                <textarea class="form-control mb-4" name="Message" id="message" rows="6" placeholder="Message" required></textarea>
                <button type="button" [routerLink]="['/']" class="btn btn-outline-primary justify-content-start">SEND</button>
            </form>
        </div>
    </div>

    <div class="container text-center my-4">
        <h2>Contact Us At</h2><br>
        <div class="row">
            <div class="col-md-5 mx-auto col-sm-12 card">
                <i class="fa fa-envelope mt-3 mb-3" style="font-size:40pt" aria-hidden="true"></i>
                <h6 class="text-uppercase font-weight-bold mb-4">Contact Us</h6>
                <p>
                    <i class="fa fa-envelope mr-3"></i> frenditriarista@s4codingcenter.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +62 895 2525 9522</p>
                <p>
                    <i class="fa fa-telegram mr-3"></i> +62 895 2525 9522</p>
                <p>
                    <i class="fa fa-whatsapp mr-3"></i> 0895 2525 9522</p>
            </div>
            <div class="col-md-5 mx-auto col-sm-12 card">
                <i class="fa fa-share-alt mt-3 mb-3" style="font-size:40pt" aria-hidden="true"></i>
                <h6 class="text-uppercase font-weight-bold mb-4">Be Social</h6>
                <p>
                    <a href="www.facebook.com/frendi.triarista">
                        <i class="fa fa-facebook mr-3"></i> www.facebook.com/frendi.triarista</a>
                </p>
                <p>
                    <a href="www.twitter.com/frendi1207">
                        <i class="fa fa-twitter mr-3"></i> www.twitter.com/frendi1207</a>
                </p>
                <p>
                    <a href="plus.google.com/u/0/105646335516897857483">
                        <i class="fa fa-google-plus mr-3"></i> plus.google.com/u/0/105646335516897857483</a>
                </p>
                <p>
                    <a href="www.instagram.com/frendi_triarista">
                        <i class="fa fa-instagram mr-3"></i> www.instagram.com/frendi_triarista</a>
                </p>
            </div>
        </div>
    </div>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.0298083434573!2d106.6850302143825!3d-6.25980389546904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69fa5777251f63%3A0x1b2e64396785cef2!2sXfrends!5e0!3m2!1sen!2sid!4v1537848076382"
        width="100%" height="600" allowfullscreen></iframe>