<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #1c3380;">
        <div class="container">

            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">Get connected with us on social networks!</h6>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-7 text-center text-md-right">

                    <!-- Facebook -->
                    <a class="fb-ic" href="https://www.facebook.com/frendi.triarista">
                        <i class="fa fa-facebook white-text mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" href="https://twitter.com/frendi1207">
                        <i class="fa fa-twitter white-text mr-4"> </i>
                    </a>
                    <!-- Google +-->
                    <a class="gplus-ic" href="https://plus.google.com/u/0/105646335516897857483">
                        <i class="fa fa-google-plus white-text mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="https://www.instagram.com/frendi_triarista/">
                        <i class="fa fa-instagram white-text"> </i>
                    </a>
                    <!--Linkedin -->
                    <!-- <a class="li-ic">
            <i class="fa fa-linkedin white-text mr-4"> </i>
          </a> -->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <!-- Content -->
                <div class="mx-auto row ml-2">
                    <img src="assets/legoteknologieswhite1.png" alt="logo" style="height:80px;">
                </div>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 94px;">
                <p>Lego Technologies mengkhususkan bisnisnya di bidang Website, Desktop dan Mobile Apps.</p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-1 col-lg-1 col-xl-1 mx-auto mb-4">

                <!-- <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p> -->

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Last Project</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="https://s4codingcenter.com">S4 Coding Center</a>
                </p>
                <p>
                    <a href="https://obbi.id">Obbi</a>
                </p>
                <p>
                    <a href="https://albantanibendung.org">Al-Bantani Bendung</a>
                </p>
                <p>
                    <a href="https://www.mahribeton.net/">Mahri Beton</a>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-envelope mr-3"></i> frenditriarista@s4codingcenter.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> +62 895 2525 9522</p>
                <p>
                    <i class="fa fa-telegram mr-3"></i> +62 895 2525 9522</p>
                <p>
                    <i class="fa fa-whatsapp mr-3"></i> 0895 2525 9522</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2019.
        <a href="http://legoteknologies.com/">Lego Teknologies All Rights Reserved. </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->